* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face { 
font-family: open-sans-regular;
src: url(../fonts/OpenSans-Regular.woff);
font-weight: 400;
font-style: normal;
}

@font-face { 
font-family: open-sans-bold;
src: url(../fonts/OpenSans-Bold.woff);
font-weight: 700;
font-style: bold;
}

html {
  font-size: 16px;
}

body {
  font-family: open-sans-regular, sans serif;
}

/*HEADER*/

.header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 0;
}

.header:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}

.header-container, .logo-link {
  display:flex;
 }

.menu {
  margin: 10px 0;
}

.menu-list-item:nth-child(n+2) {
  margin-left: 35px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase; 
}

.title {
  font-family: open-sans-bold;
  line-height: 1.3;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
}

/*TRENDS*/

.trends {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.headline-trends {
  font-family: open-sans-bold, sans-serif;
  color: #000000;
  text-transform: uppercase;
  line-height: 1.3;
  text-align: center;
}

.headline-trends::after {
  content: "";
  width: 65px;
  height: 3px;
  display: block;
  position: relative;
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  opacity: 0.4;
}

.trends-container {
display: flex;
box-sizing: border-box;
min
}

.trend-box {
 background-color: #000000;
 position: relative;
 overflow: hidden;

}

.trend-img {
  width: 100%;
  opacity: 0.6;
  max-height: 320px;
}

.trend-box-container {
  position: absolute;
  border: 2px solid #b59f5b;
  bottom: 14px;
  width: 90%;
  padding: 22px 18px;
  margin-left: 5%;
  margin-right: 5%;
}

.trend-title {
  font-family: open-sans-bold, sans-serif;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
}

.tag-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 5px;
  padding: 0;
}

.tag-link {
  font-family: open-sans-bold, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px; 
}

.tag-list a {
  text-decoration: none;
  color: #b59f5b;
}

.tag-list-item {
  margin-right: 20px;
}


/*MAIN*/

.main {
  .display:  flex;
  }

.news:not(:last-child):after {
  content: "";
  width:  100%;
  display:  block;
  border-bottom: 3px #eeeeee solid;
  margin-left: auto;
  margin-right: auto;
  margin-top:  20px;
  margin-bottom: 40px;
}

.news-heading {
  font-family: open-sans-bold, sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  }

.news-heading a {
  text-decoration: none;
  color: #0f0d0e;
}

.date-author > .date {
  font-family: open-sans-regular, sans-serif;
  font-size: 12px;
  color: #888888;
  margin-right: 15px;
}
.author {
  font-family: open-sans-bold, sans-serif;
  font-size: 12px;
  color: #000000;
}

.date-author a {
  text-decoration: none;
  color: #0f0d0e;
}

.news-content {
  color: #0f0d0e;
}

.news {
  display: flex;
}

.news-img {
  display: block;
}

/*ASIDE*/

.headline-aside {
  font-family: open-sans-bold, sans-serif;
  text-transform: uppercase;
  line-height: 1.3;
  text-align: center;
}

.headline-aside::after {
  content: "";
  width: 65px;
  height: 3px;
  display: block;
  position: relative;
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11px;
  opacity: 0.4;
}

.post {
  display: flex;
}

.post-img {
  display:  block;
}

.post-box a {
  text-decoration: none;
  color: #000000;
}

.post:not(:first-child) {
  margin-top: 25px;
}

.post-box {
  margin-left: 20px;
}

.post-box > .date {
  font-family: open-sans-regular, sans-serif;
  font-size: 12px;
  line-height: 1.8;
  color: #000000;
  opacity: 0.54;
}

.post-title {
  font-family: open-sans-bold, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.search {
  margin-top: 60px;
  display: flex;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

.field {
  box-sizing: border-box;
  height: 48px;
  font-size: 13px;
  background-color: #f4f6f7;
  border: none;
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;
}

.search-button {
  width: 48px;
  border: none;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  background-color: #b59f5b;
}

.mail-field {
  box-sizing: border-box;
  height: 48px;
  margin-top: 23px;
  font-size: 13px;
  padding-left: 18px;
  padding-right: 18px;
  border: none;
  background-color: #f4f6f7;
}

.mail-button {
  margin-top: 18px;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  font-family: open-sans-bold, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.aside-tag-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.aside-tag-item {
  margin-top: 26px;
  margin-left: 3px;
  margin-right: 3px;
}

.aside-tag-item a {
  text-decoration: none;
  color: #0f0d0e;
}

.aside-tag-link {
  justify-content: space-between;
  align-items: center;
  height: 30px;
  border: 3px solid #f4f3f1;
  font-family: open-sans-bold, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #0f0d0e;
  padding: 6px 12px;
}

.topic-list {
  list-style: none;
}

.topic-link {
  text-decoration: none;
  font-family: open-sans-bold, sans-serif;
  font-size: 14px;
  color: #000000;
  padding:0 5px 0 0;
}

.topic-list-item:first-child {
  margin-top: 25px;
}

.topic-list-item {
  margin-top: 12px;
}

.topic-list-item::after {
  content: "";
  display: block;
  position: relative;
  margin-top: 10px;
  height: 1px;
  background: #eeeeee;
}

.number {
  display: inline-block;
  vertical-align: top;
  font-family: open-sans-bold, sans-serif;
  font-size: 12px;
  color: #b59f5b;
}

/*SHOP*/

.shop-container {
  position: relative;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.headline-shop {
  font-family: open-sans-bold, sans-serif;
  color: #000000;
  text-transform: uppercase;
  line-height: 1.3;
  text-align: center;
}

.headline-shop::after {
  content: "";
  width: 65px;
  height: 3px;
  display: block;
  position: relative;
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  opacity: 0.4;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 28px;
}

.product-card {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00000;
  position: relative;
}

.product-picture {
  width:  100%;
}

.product-picture-img {
  width: 100%;
}

.product-title {
  font-family: open-sans-bold, sans-serif;
  color: #000000;
  text-transform: uppercase;
  line-height: 1.3;
  text-align: left;
  padding-top: 25px;
}

.product-description {
  font-family: open-sans-regular, sans-serif;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 27px;
}

.product-box {
  outline: 3px solid #b59f5b;
  outline-offset: 18px;
  height: 80%;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price-box {
  display:  flex;
  margin-top: 27px;
  flex-direction: column;
  font-family: open-sans-bold, sans-serif;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
  line-height: 1.2;
}

.new-price {
  font-size: 20px;
  line-height: 1.2;
}

.shop-button {
  font-family: open-sans-bold, sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #b59f5b;
  padding: 15px 25px;
}

.product-link {
  text-decoration: none;
  color: #b59f5b;
}

.product-link-1 {
  text-decoration: underline;
  color: #b59f5b;
}

/*FOOTER*/

.footer-container {
 margin-left: auto;
 margin-right: auto;
}

.footer-box {
 background-color: #f4f7f6;
 height: 80px;
}

.widget-socials {
  display: flex;
  list-style: none;
  justify-content: center;
}

.widget-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  padding-right:35px;
  margin-top: 30px;
}

.widget-link-twitter {
  background-image: url(../svg/004-twitter.svg);
}

.widget-link-pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.widget-link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.copyright {
  font-family: open-sans-bold, sans-serif;
  font-size: 12px;
  color: #999999;
  text-align: center;
  text-decoration: none;
}

/*POP-UP*/

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #999999;
  z-index: 2;
  display: flex;
}

.popup-box {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.close {
  font-family: open-sans-bold, sans-serif;
  width: 30px;
  height: 30px;
  font-size: 30px;
  position: absolute;
  top: -30px;
  right: 0;
  color: #ffffff;
}

.popup-content {
  background-color: #ffffff;
  padding: 30px;
  margin: auto;
  z-index: 9999;
}

.headline-popup {
  font-family: open-sans-bold, sans-serif;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 30px;
}

.headline-popup::after {
  content: "";
  width: 65px;
  height: 3px;
  display: block;
  position: relative;
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  opacity: 0.4;
}

.popup-field {
  font-family: open-sans-regular, sans-serif;
  width: 100%;
  font-size: 13px;
  margin-top: 8px;
  margin-bottom: 21px;
}

.select-field {
  background-image: url(../svg/form-arrows.svg);
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  border: 0px;
  height: 48px;
  background-color: #f4f7f6;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 5px center;
  background-repeat: no-repeat;
  background-size: 10px;
  padding-right: 35px;
  color: #b59f5b;
  outline: none;
  color: #7e7e7e;
}

.choice {
  display: none;
}

.radio-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 50%;
}

.circle {
  width: 25px;
  height: 25px;
}

.popup-textarea {
  min-height: 130px;
  background-color: #f4f7f6;
  resize: none;
  border: none;
  font-size: 13px;
  color: #7e7e7e;
  padding: 20px;
}

.popup-button {
  width: 100%;
  font-family: open-sans-bold, sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #b59f5b;
  padding: 15px 25px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}


@media (min-width: 1200px) {

.header {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 150px;
  background-image: url(../images/banner-bg.jpg);
}

.header-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  }

.header-container, .logo-link {
  justify-content:space-between;
  align-items:center;
 }

.header-logo {
  width: 180px;
  }

.menu-btn {
  display: none;
}

.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu a {
  font-size: 13px;
}

.title-container {
  margin-top:  104px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 45px
}

.headline-trends {
  font-size: 1.25rem;
}

.trends {
  margin-top: 64px ;
}

.trends-container {
  margin-top: 28px;
  justify-content: space-between;
}

.trend-box {
  width: 24.8%;
  max-height: 320px;
  margin: 0.1%;
}

.trend {
  font-size: 20px;
}

.page {
  margin-top: 60px;
}

.page-container {
  width: 1200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.main {
  width: 770px;
  margin-right: 120px;
}

.news:not(:last-child):after {
  display: none;
}

.img-news {
  width: 380px;
}

.news:not(:first-child){
  margin-top: 60px;
}

.news-heading {
  font-size: 20px;
  margin-bottom: 30px;
}

.date-author {
  margin-bottom: 50px;
}

.news-list {
  margin-left: 30px;
}

.news-content {
  font-size: 15px;
}

.aside-container {
  width: 270px;
}

.aside {
  margin-bottom: 58px;
}

.headline-aside {
  font-size: 14px;
}

.search {
  margin-top: 60px;
  display: flex;
}

.field {
  width: 223px;
}

.mail-field {
  width: 270px;
}

.mail-button {
  width: 270px;
}

.topics {
 margin-top: 60px; 
}

.shop-container {
  margin-top: 65px ;
  justify-content: space-between;
  width: 1200px;
}

.product-container {
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

.headline-shop {
  font-size: 20px;
}

.product-card {
  max-width: 30%;
}

.product-title {
  font-size: 20px;
}


.footer {
  margin-top: 64px;
  margin-bottom: 40px;
}

.footer-container {
  width: 1200px;
}

.footer-box {
  margin-bottom: 75px;
}

.copyright {
  margin-bottom: 50px;
}

.popup-box {
  width:  23%;
  min-width: 390px;
}

}

@media (min-width: 641px) and (max-width: 1199px) {

.header {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 123px;
  background-image: url(../images/banner-bg-tablet.jpg);
}

.header-container {
  padding-left: 35px;
  padding-right: 35px;
}

.header-logo {
  width: 155px;
  }

.header-container, .logo-link {
  justify-content:space-between;
  align-items:center;
}

.title {
  font-size: 40px;
}

.title-container {
  margin-top:  104px;
}

.menu-list {
  display: none;
}

.menu-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 25px;
}

.line {
  position: absolute;
  left: 0;
  border-top: 3px solid #ffffff;
  width: 100%;
}

.top {
  top: 0;
}

.middle {
  top: 8px;
}

.bottom {
  top: 16px;
}

.trends {
  margin-top: 50px;
  margin-bottom: 50px;
}

.headline-trends {
  font-size: 18px;
}

.trends-container {
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 18px;
}

.trend-box {
  margin: 0.1%;
  overflow: hidden;
}

.trend-title {
  font-size: 17px;
}

.page {
  margin-left: 35px;
  margin-right: 35px;
}

.page-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.news {
  flex-direction: column;
}

.main {
  width: calc(100% - 270px);
}

.aside-container {
  width: 270px;
  margin-left: 35px;
}

.img-news {
  width: 392px;
}

.news-heading {
  font-size: 17px;
  margin-bottom: 30px;
}

.date-author {
  margin-bottom: 40px;
}

.news-content {
  font-size: 15px;
}

.headline-aside {
  font-size: 14px;
}

.search {
  margin-bottom: 60px;
}

.field {
  width: 223px;
}

.mail-field {
  width: 270px;
}

.mail-button {
  width: 270px;
  margin-bottom: 60px;
}

.topics {
 margin-top: 60px; 
}

.headline-shop {
  font-size: 18px;
  margin-top: 70px;
}

.shop-container {
  width:  100%;
  justify-content: space-between;
}

.product-container {
  width: 100%;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.product-card {
  max-width: 46%;
  margin-bottom: 55px;
}

.product-title {
  font-size: 17px;
}

.product-box {
  max-width: 290px;
  min-height: 260px;
}

.footer {
  margin-top: 50px;
}

.footer-container {
  width:  100%;
  margin-bottom: 40px;
}

.footer-box {
  margin-bottom: 50px;
}

.popup-box {
  width:  51%;
  min-width: 390px;
}

}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {

  .trend-box {
    width: 49.5%;
  }

}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {

.trend-box {
    width: 24.8%;
  }
}

@media (max-width: 640px) {

.header {
  width: 100%;
  min-width: 330px;
  height: 100vh;
  background-image: url(../images/banner-mobile.jpg);
}

.header-container {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  margin-left: 5.5%;
  margin-right: 5.5%;
}

.header-logo {
  width: 280px;
  margin-top: 178px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 26px;
  line-height: 1.3;
  width: 280px;
}

.title-container {
  margin-top:  45px;
  margin-bottom: 220px;
}

.menu-list {
  display: none;
}

.menu-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 31px;
  right: 30px;
}

.line {
  position: absolute;
  right: 0;
  border-top: 3px solid #ffffff;
  width: 100%;
}

.top {
  top: 0;
}

.middle {
  top: 8px;
}

.bottom {
  top: 16px;
}

.headline-trends {
  font-size: 16px;
  margin-top: 45px;
  margin-bottom: 22px;
}

.trend-box {
  max-height: 230px;
  margin-bottom: 4px;
}

.trend-title {
  font-size: 16px;
}

.page {
  margin-left: 5.5%;
  margin-right: 5.5%;
}

.page-container {
  width: 100%;
  min-width: 330px;
  margin-top: 40px;
  flex-direction: column;
}

.news {
  flex-direction: column;
}

.news:nth-child(5) {
  margin-bottom: 66px;
}

.img-news {
  width: 100%;
  min-width: 330px;
}

.news-heading {
  font-size: 16px;
  margin-bottom: 27px;
}

.date-author {
  margin-bottom: 22px;
}

.news-content {
  font-size: 14px;
}

.aside-container {
width: 100%;
}

.headline-aside {
  font-size: 16px;
  margin-top: 40px;
}

.search-group {
  width: 100%;
}
.mail-field {
  width: 100%;
}

.mail-button {
  width: 100%;
}

.headline-shop {
  font-size: 16px;
  margin-top: 40px;
}


.product-container {
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}

.product-card:last-child {
  margin-bottom: -30px;
}

.product-box{
  min-width: 284px;
  height: 282px;
  margin-bottom: 50px;
}

.product-title {
  font-size: 17px;
}

.footer {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  margin-bottom: 50px;
}

.footer-box {
  min-width:  330px;
  margin-bottom: 50px;
  }

.popup-box {
    width: 100%;
  }

}

@media (max-width: 640px) and (orientation: portrait) {

  .trends-container {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .trend-box {
    width: 100%;
  }

}

@media (max-width: 640px) and (orientation: landscape) {

.trends-container {
    flex-wrap: wrap;
    flex-direction: row;
  }

.trend-box {
    width: 49%;
  }
}


